a {
  font-family: 'Montserrat', sans-serif;
  color: #3A685E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #495371;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#background-video {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Square Peg', cursive;  font-size: 5.625rem;
  line-height: 2;
  color: #495371;
  z-index: 3;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #342827;
  z-index: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #495371;
}


hr {
  border-style: dotted none none;
  width: 3%;
  border-color: #495371;
  border-width: 8px;
  margin: 100px auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.top-container {
  position: relative;
  padding: 100px 0 100px;
}

.middle-container {
  background-color: #F2F2F2;
  padding-top: 80px;
}

.bottom-container {
  background-color: #F2F2F2;
  padding: 80px 80px 40px;
}

.azuki {
  height: 200px;
}

.introp {
  width: 20%;
  margin: auto;
}

.pm-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.programming-row {
  margin: 64px auto 64px auto;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.skill-row {
  margin: 64px auto 64px auto;
  padding: 48px;
  width: 50%;
  background: white;
  text-align: left;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
  display: relative;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.social-img {
  width: 15%;
  float: right;
  margin-left: 30px; 4A5FD4
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #4AB1D4, #4A5FD4);
  background-image: -moz-linear-gradient(top, #4AB1D4, #4A5FD4);
  background-image: -ms-linear-gradient(top, #4AB1D4, #4A5FD4);
  background-image: -o-linear-gradient(top, #4AB1D4, #4A5FD4);
  background-image: linear-gradient(to bottom, #4AB1D4, #4A5FD4);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #C9F5EF, #A5CBD4);
  background-image: -moz-linear-gradient(top, #C9F5EF, #A5CBD4);
  background-image: -ms-linear-gradient(top, #C9F5EF, #A5CBD4);
  background-image: -o-linear-gradient(top, #C9F5EF, #A5CBD4);
  background-image: linear-gradient(to bottom, #C9F5EF, #A5CBD4);
  text-decoration: none;
}

.contactp {
  width: 25%;
  margin: 20px auto 60px;
}

.copyright {
  color: #40514E;
  font-size: .75rem;
  padding: 20px 0;
}
